    #codeImg {
        position: fixed;
        right: 20px;
        top: 20px;
        width: 100px;
        height: 100px;
    }
    
    .hide {
        display: none;
    }
    
    .header h3 {
        padding: 5px 0;
        font-size: 1rem;
        font-weight: 400;
    }
    
    .header h4 span {
        font-weight: 300;
    }
    
    .header {
        margin-bottom: 5px;
    }
    
    .header a {
        color: lightsteelblue;
    }
    
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .header {}
    
    .msg {
        width: 40px;
        background: transparent;
        position: fixed;
        left: 0;
        top: 0;
        animation: mymove 5s;
        -webkit-animation: mymove 5s;
        /*Safari and Chrome*/
    }
    
    @keyframes mymove {
        from {
            left: 0px;
            top: 0px;
        }
        to {
            left: 45%;
            top: 100%;
        }
    }
    
    @-webkit-keyframes mymove
    /*Safari and Chrome*/
    
    {
        from {
            left: 0px;
            top: 0px;
            display: 'none';
        }
        to {
            left: 45%;
            top: 100%;
            display: 'none';
        }
    }
    
    .order {
        /* color: */
    }
    
    .order:nth-child(1) {
        animation: up 5s;
        -webkit-animation: up 5s;
        position: relative;
        bottom: 0;
        left: 45%;
    }
    
    .order:nth-child(2) {
        animation: up1 5s;
        -webkit-animation: up1 5s;
        position: relative;
        bottom: 20px;
        left: 45%;
    }
    
    .order:nth-child(3) {
        animation: up2 5s;
        -webkit-animation: up2 5s;
        position: relative;
        bottom: 40px;
        left: 45%;
    }
    
    .order:nth-child(4) {
        animation: up3 5s;
        -webkit-animation: up3 5s;
        position: relative;
        bottom: 60px;
        left: 45%;
    }
    
    @keyframes up {
        from {
            bottom: 0;
            left: 45%;
        }
        to {
            left: 45%;
            bottom: 200px;
            display: 'none';
            opacity: 0;
        }
    }
    
    @-webkit-keyframes up
    /*Safari and Chrome*/
    
    {
        from {
            bottom: 0;
            left: 45%;
        }
        to {
            left: 45%;
            bottom: 200px;
            display: 'none';
            opacity: 0;
        }
    }
    
    @keyframes up1 {
        from {
            bottom: 20px;
            left: 45%;
        }
        to {
            left: 45%;
            bottom: 220px;
            display: 'none';
            opacity: 0;
        }
    }
    
    @-webkit-keyframes up1
    /*Safari and Chrome*/
    
    {
        from {
            bottom: 20px;
            left: 45%;
        }
        to {
            left: 45%;
            bottom: 220px;
            display: 'none';
            opacity: 0;
        }
    }
    
    @keyframes up2 {
        from {
            bottom: 40px;
            left: 45%;
        }
        to {
            left: 45%;
            bottom: 240px;
            display: 'none';
            opacity: 0;
        }
    }
    
    @-webkit-keyframes up2
    /*Safari and Chrome*/
    
    {
        from {
            bottom: 40px;
            left: 45%;
        }
        to {
            left: 45%;
            bottom: 240px;
            display: 'none';
            opacity: 0;
        }
    }
    
    @keyframes up3 {
        from {
            bottom: 60px;
            left: 45%;
        }
        to {
            left: 45%;
            bottom: 260px;
            display: 'none';
        }
    }
    
    @-webkit-keyframes up3
    /*Safari and Chrome*/
    
    {
        from {
            bottom: 80px;
            left: 45%;
        }
        to {
            left: 45%;
            bottom: 280px;
            display: 'none';
            opacity: 0;
        }
    }
    
    iframe {
        width: 100vw;
        height: 300vh;
        border: none;
        overflow-x: hidden;
        z-index: 999;
    }
    
    app-task-detail-page {
        overflow-x: hidden;
    }